ErrorDocument 400 http://resume-jay.is-best.net/
ErrorDocument 401 http://resume-jay.is-best.net/
ErrorDocument 403 http://resume-jay.is-best.net/
ErrorDocument 404 http://resume-jay.is-best.net/
ErrorDocument 503 http://resume-jay.is-best.net/

RewriteEngine On

DirectoryIndex index.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ $index.html [NC,L]

# Allow access to the specified files
RewriteRule ^(index)\.html$ - [L]

# Deny access to all other files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* - [F,L]